{% extends "home/base.html" %}
{% load static %}

{% block addon_css %}
{% if tree_embed_mode %}
<style>
body > nav.navbar {
  display: none !important;
}

body > #content.container {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

body > #content.container > #gpcrdb_alert_placeholder {
  display: none !important;
}
</style>
{% endif %}
{% include "classification/_tree_assets_css.html" %}
{% endblock %}

{% block content %}
{% include "classification/_tree_content.html" %}
{% endblock %}

{% block addon_js %}
{% include "classification/_tree_assets_js.html" %}
{% include "classification/_tree_script.html" %}
{% endblock %}
